{% extends 'head/base.html' %}
{% block body %}
<section class="add-place" style="margin-top: 3em;">
    <h2 style="margin-bottom: 1em;">Adding Place</h2>
      <form class="row g-3 mx-5" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
          <input type="text" class="form-control FMproname" placeholder="place Name" name="name">
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control FMprocost" Placeholder="place Cost" name="cost">
        </div>
        <div class="mb-6" style="margin-bottom: 1em;">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="des" rows="3"></textarea>
          </div>

        <p style="margin: 0;">for small image</p>
        <div class="col-md-12" style="height:2.4em;display: flex; margin: 0;" >
          <input type="file" class="form-control" id="inputGroupFile02" name="image">
          <label class="input-group-text" for="inputGroupFile02" style="height: 2.4em;">Upload</label>
        </div>
        <h6 style="margin: 0;margin-bottom: 1em;text-align: center;">file should be 1240 x 500 pixels</h6>
    
       
        <div class="col-6">
         <button class="btn btn-danger"> Add</button>
        </div>
      </form>
    </section>
    <footer class="bg-danger " style="position: relative; bottom: 0; width: 100%;">
      <h4 style="font-weight: bolder; letter-spacing: 4px;">SHREY
        <span class="text-dark" style="font-weight: 700; letter-spacing: 1px solid;">
        TRAVELIX</span>
      </h4>
    
        <h5 style="color: white;">
          Copyright 2022 All Right Reserved
        </h5>
        <div>
         <i class="fa-brands fa-facebook-f"></i>
         <i class="fa-brands fa-whatsapp"></i>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-twitter"></i>
       </div>
    
    </footer>
    </body>
    </html>
{% endblock body %}