{% extends 'base.html' %}
{% block body %}
<section class="login">
    <div class="conatiner my-3 ">
        {% if validlink %}
        <form class="login-form" action="" method="post" onsubmit="pcheck3()">
            {% csrf_token %}
            <h3 class="my-3">Set Password</h3>
            <br>
            {% if messages %}
            <div id="alert" class="alert alert-danger text-center" role="alert">
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
                
            </div>
            {% endif %}
            <div id="error"  role="alert">

                
            </div>
            <div class="mb-3">
                <div class="col-lg-7 mx-auto">
                    <div class="input-material-group mb-3">
                        <label class="label-material" for="id_email">Email:</label>
                        {% for fm in form %}
                        {{fm}}
                        {% endfor %}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary mb-3" onclick="pcheck3()" value="Save"/>
                </div>
            </div>
            {% else %}
                    <h3 class="text-xxl text-gray-400 ">Please Check Link Onece Again</h>
                    {% endif %}
        </form>
    </div>
</section>

</form>
</div>
</section>
<script>
      
    function pcheck3(){
      let password = document.getElementById("id_password1").value;
      let cpassord = document.getElementById("id_password2").value;

      document.getElementById('id_new_password1').value = password;
      document.getElementById('id_new_password2').value = cpassord;
      if(password==cpassord){
          return true;
      }
      else{
          document.getElementById('error').innerHTML = "Password didn't match!!!";
          return false;
      }
  }
        
  </script> 
{% endblock body %}